.main {   
    background: linear-gradient(rgb(51, 168, 33), rgb(255, 255, 255) , rgb(255,0,0));
}

.pizza-cards{
    display:grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-gap: 2rem;
    justify-content: center;
    padding: 1rem;
}

    .pizza-cards > li {
        list-style-type: none;
        height: 10rem;
        position: relative;
        background-size: cover;
        border-radius: 0.5rem;
        transition: 0.1s ease-out;
    }
        .pizza-cards > li:has(:hover) {
            transform: scale(1.02);
        }

.pizza-info {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 14px;
    padding: 1rem 1rem;
    cursor: pointer;
    background: linear-gradient(rgb(0, 0, 0,0.7) 50%, rgba(0,0,0,0) 90%);
}

    .pizza-info .title {
        color: white;
        font-size: 1.4rem;
        display: block;
        margin: 0.2rem 0 0.4rem 0;
    }

    .pizza-info .price {
        position: absolute;
        right: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        bottom: 0.5rem;
        border-radius: 4px;
        background-color: forestgreen;
        padding: 0.1rem 0.7rem
    }
.pizza-info .price::before{
    content:'€'
}